[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/quirinux/Escritorio/montar-compartida]
row=4
col=0

[/home/quirinux/Escritorio/Compartida]
row=0
col=1

[Disco Disquete]
row=0
col=0

[Papelera]
row=1
col=0

[/]
row=2
col=0

[/home/quirinux]
row=3
col=0

