[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=sonido-inicio
Comment=
Exec=/usr/local/bin/sonido-inicio
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

